@charset "utf-8";

html {
    background:white;
    color:black;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
}
*{
    box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-weight: 200;
}

p{
    text-align: center;
}

input,select,textarea {
    font-size:100%;
    outline: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

th {
    text-align:inherit;
}

ol,ul {
    list-style:none;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear-fix:after {
    content: ".";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;      /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/
}

.clear-fix { *zoom:1;}   /*这是针对于IE6的，因为IE6不支持:after伪类




