html{background: #fff}

.part{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    padding-top: 60px;
}
.part-title{
    color: rgba(255, 255, 255, 0.9);
    font-size: 34px;
}
.part-mid-title{
    color: rgba(255, 255, 255, 0.9);
    font-size: 26px;

}
.part-sub-title{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    margin-top: 14px;
}
.part-min-title{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}
.part-title-d{
    color:#222;
    font-size: 34px;
}
.part-mid-title-d{
    color:#222;
    font-size: 26px;

}
.part-sub-title-d{
    color: #222;
    font-size: 16px;
    margin-top: 14px;
}
.part-min-title-d{
    color: #222;
    font-size: 14px;
}
/*part1*/
.part1{
    height: 720px;
    background-image: url("../image/alpha/index_bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}
.slogan-box{
    color: #fff;
}
.slogan-box p:first-child{
    font-size: 52px;
}
.slogan-box p:nth-child(2){
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*part2*/
.part2{
    height: 820px;
    background: #0F1521;
}
.map-box{
    width: 1000px;
    height: 480px;
    margin: 0 auto;
}
.year-list{
    width: 760px;
    height: 25px;
    line-height: 25px;
    margin: 50px auto 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}
.year-list>li{
    float: left;
    width: 6.25%;
    cursor: pointer;
}
.year-list>li:hover{
    color: #fff;

}
.year-selected{
    color: #fff;
    margin-top: -5px;
    transition:ease 0.2s;
    transform: scale(1.5);
}
.year-range{
    width: 740px;
    -webkit-appearance:none;
    background: transparent;
}
.year-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.year-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none;
    background-color: #dedede;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
}
.year-range::-webkit-slider-thumb:hover,
.year-range::-webkit-slider-thumb:active {
    background-color: #fff;
}
.year-rate{
    position: absolute;
    top: 80px;
    right: 70px;
}
/*.year-range::-webkit-slider-runnable-track:hover {*/
    /*background: rgba(255, 255, 255, 0.3);*/
/*}*/
/*part3*/
.part3{
    height: 780px;
    background: #1A253A;
}
/*part4*/
.part4{
    height: 780px;
    background: #F8F8F8;
}
/*part5*/
.part5{
    height: 750px;
    background: #1A253A;
}
/*part6*/
.part6{
    height: 780px;
    background: #2A3557;
}
/*part7*/
.part7{
    height: 750px;
    background: #FFF;
}
.trait-box{
    width: 510px;
    height: 480px;
    margin-top: 60px;
}
.trait-title{
    color: #333;
    font-size: 24px;
}
.trait-box .lazy{
    /*width: 510px;*/
    /*height: 280px;*/
    margin-top: 100px;
}
.trait-info{
    color: #999;
    font-size: 16px;
    margin-top: 32px;
    line-height: 18px;
    text-align: left;
    padding: 0 20px;
}
/*part8*/
.part8{
    height: 750px;
    background: #FFF;
}

.part8 ul{
    margin-top: 120px;
    padding: 0 40px;

}
.part8 li{
    color: #666;
    display: block;
    width: 180px;
    height: 148px;
    float: left;
}
.part8 img{
    /*width: 100%;*/
 }
.part8 .step-info{
    font-size: 12px;
    margin-top: 10px;
    height: 17px;
}
.part8 .step-num{
    margin-top: 80px;
    font-size: 28px;
    font-weight: bold;
    font-family: "DIN Alternate";
}
.part8 .step-name{
    margin-top: 20px;
    font-size: 18px;
}
/*part9*/
.part9{
    height: 560px;
    background: #F5F5F5;
}
